.title {
  font-size: 32px;
}

.number {
  color: gray;
}

$height: 80px;

.imgAvatar {
  height: $height;
  width: $height;
}

.reportedBy {
  color: gray;
}

.containerHeader {
  background-color: #f7f7f7;
}

.containerBorder {
  padding: 15px;
  border: 1px solid #ddd;
}

.listLabels, .itemLabel {
  display: inline-block;
}

